.list {
  max-width: 15vw;
  min-width: 15vw;
  max-height: 70vh;
  min-height: 70vh;
  overflow: auto;
  margin-left: auto;
  box-shadow: inset 0 -2px 10px -2px rgba(0, 0, 0, 0.3);
}

.list-div {
  background: #fefefe;
  padding: 8px;
  margin: 2px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  /*border: snow 1px solid;*/
}

.list-div:hover {
  background: rgba(0, 169, 255, 0.10);
  cursor: default;
}

.delete-poly {
  font-size: 15px;
  padding: 2px;
  color: #FFFFFF;
  margin-left: 50px;
  border-radius: 5px;
}

.delete-poly img {
  width: 25px;
}
