<!--<div class="container">-->
  <div>{{date | date: 'dd-MM-yy'}}</div>
  <!--LOGIN-->
  <app-auth-form *ngIf="isLogged !== true" (change)="isLoggedChange($event)"></app-auth-form>

  <ng-container *ngIf="isLogged === true">
    <!--HEADER-->
    <nav class="navbar navbar-expand-sm navbar-light bg-transparent"> <!-- sticky-top -->
<!--      <a class="navbar-brand" href="#">SkyMed</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" style="margin-left:10px;">
            <button class="btn btn-danger" (click)="logout()">{{username}}: Выход</button>
          </li>
          <li class="nav-item" style="margin-left:10px;" *ngIf="categoryChosen === true">
            <button class="btn btn-info" (click)="categoryChange([false, 1])">{{current_folder.name}}/{{current_category}}: Назад</button>
          </li>
          <li class="nav-item" style="margin-left:10px;" *ngIf="(folderChosen === true) && (categoryChosen === false)">
            <button class="btn btn-info" (click)="folderChange(false)">{{current_folder.name}}: Назад</button>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container" style="min-width: 100%; min-height: 100%; padding: 0">
      <!--CATEGORY-->
      <div class="container categories" *ngIf="categoryChosen === false">
        <app-category-list [categoryChosen]="categoryChosen"
                           [folderChosen]="folderChosen"
                           (categoryChange)="categoryChange($event)"
                           (folderChange)="folderChange($event)">
        </app-category-list>
      </div>

      <!--LABELING-->
      <div *ngIf="categoryChosen === true">
        <app-labeling [categoryId]="categoryId"></app-labeling>
      </div>
    </div>
  </ng-container>

  <router-outlet></router-outlet>
<!--</div>-->

